body:after{
    content:'small';
    background: #eee;
    position: fixed;
    bottom: 0;
    left: 0;
    font-size: 9px;
    color: #000;
    padding: 2px;
    z-index: 999;

}

@include breakpoint(iphone){
    body:after{    content:'iphone'; }
}

@include breakpoint(phone){
    body:after{    content:'phone'; }
}

@include breakpoint(xphone){
    body:after{    content:'xphone'; }
}

@include breakpoint(medium){
    body:after{    content:'medium'; }
}

@include breakpoint(xmedium){
    body:after{    content:'xmedium'; }
}

@include breakpoint(large){
    body:after{    content:'large'; }
}

@include breakpoint(xlarge){
    body:after{    content:'xlarge'; }
}

@include breakpoint(xxlarge){
    body:after{    content:'xxlarge'; }
}

@include breakpoint(xxxlarge){
    body:after{    content:'xxxlarge'; }
}
