// Colors

$white: #ffffff;
$black: #000000;
$blue: #167AF5;
$green: #00FF66;
$orange: #FFB400;
$orangeHover: #fdc847;
$footer: #22252A;
$headerPhone: #22252A;

$formBorderColor: #C2C7CC;
$errorColor: #FA4A4E;
$disclaimerFontColor: #999999;
$disclaimerFontColorPhone: #595959;
$checkboxPhoneBorder: #22252A;

// Font Styles

$ProximaLight: 'ProximaNova Light';
$ProximaRegular: 'ProximaNova Regular';
$ProximaSemiBold: 'ProximaNova Semibold';
$ProximaBold: 'ProximaNova Bold';
$ProximaBlack: 'ProximaNova Black';


// Main CSS styles

body{
    overflow-x: hidden;
}

.phone-reverse {
    @include breakpoint(phone down) {
        flex-direction: column-reverse;
    }
}

.PhoneMarginMinus {
    @include breakpoint(phone down) {
        margin-left: -10px;
        margin-right: -10px;
    }
}

.Header{
    background-image: url('../images/background_top.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: $white;
    // min-height: 200px;
    padding: 45px 0;
    @include breakpoint(large down) {
        padding: 35px 0;
    }
    @include breakpoint(phone down) {
        background: $headerPhone;
        margin: 10px 10px 0 10px;
        padding: 25px 0;
    }

    &__headtext{
        font-family: $ProximaBold;
        font-size: 46px;
        line-height: 1.2;
        text-transform: uppercase;
        margin: 0;
        @include breakpoint(large down) {
            font-size: 42px;
        }
        @include breakpoint(medium down) {
            font-size: 36px;
        }
        @include breakpoint(phone down) {
            font-size: 32px;
        }
        @include breakpoint(iphone down) {
            font-size: 28px;
        }
        @include breakpoint(small down) {
            font-size: 24px;
        }
    }
    &__logo{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        a {
            display: block;
        }
        @include breakpoint(phone down) {
            margin-bottom: 15px;
        }
    }
    &__logoImg{
        height: 23px;
        @include breakpoint(phone down) {
            height: 12px;
        }
    }
}

.main {
    padding-bottom: 40px;
    @include breakpoint(phone down) {
        padding-bottom: 0;
    }
}

.Box {
    max-width: 500px;
    width: 100%;
    box-shadow: 3px 0px 7px 0px rgba(0,0,0,0.1), -3px 0px 7px 0px rgba(0,0,0,0.1);
    position: relative;
    top: -15px;
    @include breakpoint(xmedium down) {
        max-width: 100%;
    }
    @include breakpoint(phone down) {
        top: 0;
        box-shadow: none;
    }
}

.promoImg {
    position: relative;
    top: -25px;
}

.CarInformation {
    @include breakpoint(xmedium down) {
        margin-left: 0 !important;
    }
    .CarPhoto {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding-bottom: 52%;
        @include breakpoint(medium down) {
            padding-bottom: 70%;
        }
        @include breakpoint(630px down) {
            padding-bottom: 85%;
        }
        @include breakpoint(phone down) {
            padding-bottom: 53.25%;
        }
    }
    .CarPrice {
        padding-top: 5px;
        @include breakpoint(phone down) {
            padding: 10px 0;
        }
        .carname-container {
            align-items: center;
            display: flex;
            justify-content: center;
        }
        .carname {
            font-family: $ProximaBlack;
            font-size: 18px;
            line-height: 1.1;
            margin: 0;
            @include breakpoint(phone down) {
                font-size: 22px;
            }
            @include breakpoint(iphone down) {
                font-size: 18px;
            }
        }
        .car-pricing {
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            justify-content: flex-end;
            padding-right: 40px;
            @include breakpoint(xphone down) {
                padding-right: 0;
                align-items: center;
                justify-content: center;
            }
            .prefix {
                font-family: $ProximaLight;
                margin: 0;
                padding-bottom: 6px;
                @include breakpoint(iphone down) {
                    padding-bottom: 0px;
                    margin-top: 17px;
                    font-size: 11px;
                }
            }
            .boldPrice {
                font-family: $ProximaBlack;
                margin: 0;
                font-size: 62px;
                line-height: 1;
                @include breakpoint(iphone down) {
                    font-size: 48px;
                }
                @include breakpoint(small down) {
                    font-size: 42px;
                }
            }
            .monthly {
                margin: 0;
                font-family: $ProximaRegular;
                line-height: 1;
                align-self: flex-start;
                padding-top: 6px;
                @include breakpoint(iphone down) {
                    padding-top: 5px;
                    font-size: 11px;
                }
            }
        }
    }
}

.BlueBox {
    background-color: $blue;
    padding: 30px 40px 20px;
    color: $white;
    @include breakpoint(xphone down) {
        padding: 30px 25px 20px;
    }
    @include breakpoint(phone down) {
        padding: 20px 1.42857rem 20px;
    }

    &__header1{
        font-size: 30px;
        line-height: 1.2;
        font-family: $ProximaBold;
        color: #fff;
    }
    &__header2{
        font-size: 50px;
        text-transform: uppercase;
        margin-top: 0.3em;
        line-height: 1;
        font-family: $ProximaBold;
        color: #fff;
    }

    .text {
        font-family: $ProximaLight;
        font-size: 19px;
        margin: 0;
        margin-bottom: 10px;
        @include breakpoint(iphone down) {
            margin-bottom: 0;
            font-size: 16px;
        }
        @include breakpoint(small down) {
            font-size: 14px;
        }
    }
    .rabatText {
        font-size: 28px;
        font-family: $ProximaLight;
        text-transform: uppercase;
        @include breakpoint(iphone down) {
            font-size: 24px;
        }
        @include breakpoint(small down) {
            margin-bottom: 0;
            font-size: 23px;
        }
    }
    .boldedRabat {
        font-family: $ProximaBlack;
    }


    &-img {
        margin: 5px 0;
    }
    .Benefits {
        &__item {
            margin: 15px 0;
            display: flex;
            flex-direction: row;
            align-items: center;
            @include breakpoint(iphone down) {
                margin: 10px 0;
            }

        }
        &__iconContainer {
            margin-right: 12px;
        }
        &__icon {
            height: 34px;
            @include breakpoint(iphone down) {
                height: 25px;
            }
            @include breakpoint(small down) {
                height: 20px;
            }
        }
        &__description {
            font-family: $ProximaLight;
            font-size: 19px;
            margin: 0;
            line-height: 1;
            @include breakpoint(iphone down) {
                font-size: 16px;
            }
            @include breakpoint(small down) {
                font-size: 14px;
            }
            .bolded {
                font-family: $ProximaBlack;
                text-transform: uppercase;
            }
        }
    }
}

.Form {
    // border: 1px solid red;
    padding: 30px 40px 20px;
    @include breakpoint(phone down) {
        padding: 20px 1.42857rem 2px;
    }
    .headtext {
        margin: 0;
        font-family: $ProximaBlack;
        text-transform: uppercase;
        font-size: 30px;
        line-height: 1.1;
        @include breakpoint(phone down) {
            font-size: 24px;
        }
        @include breakpoint(iphone down) {
            font-size: 20px;
        }
    }
    .undertext {
        margin: 0;
        font-family: $ProximaLight;
        font-size: 24px;
        line-height: 1.1;
        @include breakpoint(phone down) {
            font-size: 16px;
        }
        @include breakpoint(iphone down) {
            font-size: 14px;
        }
    }
    &-wrapper {
        margin: 10px 0;
    }

    &__SendBtn {
        background-color: $orange;
        color: $black;
        font-family: $ProximaBold;
        text-align: center;
        width: 100%;
        height: 60px;
        cursor: pointer;
        transition: 222ms linear;
        text-transform: uppercase;
        font-size: 18px;
        outline: none;
        &:hover {
            background-color: $orangeHover;
        }
        @include breakpoint(iphone down) {
            font-size: 14px;
            height: 43px;
        }
    }

    .Form__input-wrapper {
        position: relative;
        label.error {
            position: absolute;
            top: 13px;
            right: 10px;
            color: $errorColor;
            font-size: 10px;
            z-index: -1;
        }
        .inputValid {
            position: absolute;
            top: 0px;
            right: 5px;
            height: 45px;
            display: none;
        }
        .Form__input {
            height: 43px;
            border: 1px solid $formBorderColor;
            box-shadow: none;
            font-size: 17px;
            font-family: $ProximaLight;
            color: $footer;
            padding-left: 12px;
            background: transparent;
        }

        .Form__input.valid + label + .inputValid {
            display: block;
        }

        .Form__input.error {
            border: 1px solid $errorColor;
        }

        .Form__input:focus + .Form__input-label {
            top: -5px;
            left: 10px;
            font-size: 12px;
            background: $white;
            padding: 0 7px;
            line-height: 1;
            z-index: 2;
        }
        .Form__input-label.hasValue {
            top: -5px;
            left: 10px;
            font-size: 12px;
            background: $white;
            padding: 0 7px;
            line-height: 1;
            z-index: 2;
        }
        .Form__input-label {
            position: absolute;
            top: 8px;
            left: 12px;
            font-size: 17px;
            font-family: $ProximaLight;
            color: $footer;
            transition: 200ms linear;
            z-index: -1;
            @include breakpoint(iphone down) {
                font-size: 14px;
                top: 10px;
            }
        }
    }

}

.Agrees {
    &__container {
        background-color: $footer;
        padding: 40px 0 20px;
        @include breakpoint(phone down) {
            background-color: transparent;
            padding: 10px 0;
            margin-left: 10px;
            margin-right: 10px;
        }
    }
    ::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #f1f1f1;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: $footer;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
    label {
        margin: 0;
    }
    .terms {
        margin-bottom: 10px;
    }
    .terms-text {
        color: $disclaimerFontColor;
        padding-left: 25px;
        display: block;
        font-family: $ProximaLight;
        font-size: 10px;
        line-height: 1.2;
        @include breakpoint(phone down) {
            color: $disclaimerFontColorPhone;
        }
    }
    .rodo_text {
        height: 125px;
        margin-bottom: 20px;
        overflow: auto;
        margin-right: 15px;
        /* width */

    }
    .btnExpand {
        cursor: pointer;
        font-family: $ProximaLight;
        font-size: 13px;
        line-height: 1.2;
        margin-top: 10px;
        color: $disclaimerFontColor;
        overflow: hidden;
        @include breakpoint(phone down) {
            color: $disclaimerFontColorPhone;
        }
    }
    .Rodo_disclaimer {
        font-family: $ProximaLight;
        font-size: 10px;
        line-height: 1.2;
        color: $disclaimerFontColor;
        overflow: hidden;
        @include breakpoint(phone down) {
            color: $disclaimerFontColorPhone;
        }
    }
    input[type=checkbox] {
        display: none;
    }

    .error {
        padding-left: 12px;
        font-size: 10px;
        font-family: $ProximaLight;
        color: $errorColor;
        margin: 0;

    }
    
    input[type=checkbox] + label .checkbox {
        background-color: transparent;
        background-position: center center;
        background-size: 0px;
        border: 1px solid $white;
        border-radius: 2px;
        display: block;
        width: 15px;
        height: 15px;
        float: left;
        position: relative;
        &:before {
            width: 8px;
            height: 1px;
            background-color: #fff;
            content: '';
            position: absolute;
            top: 6px;
            left: 2px;
            transform: rotate(-45deg) scale(0);
            transform-origin: 50% 0;
            transition: 222ms;
        }
        &:after {
            width: 8px;
            height: 1px;
            background-color: #fff;
            content: '';
            position: absolute;
            top: 6px;
            left: 3px;
            transform: rotate(49deg) scale(0);
            transform-origin: 50% 0;
            transition: 222ms;
        }
        @include breakpoint(phone down) {
            border: 1px solid $checkboxPhoneBorder;

        }
    }
    
    input[type=checkbox]:checked + label .checkbox {

        // background-color: $form_first_gcolor;
        position: relative;
        z-index: 19;
        transition: 222ms;
        &:before {
            background-color: $white;
            left: 2px;
            transform: rotate(-45deg) scale(1);
            @include breakpoint(phone down) {
                background-color: $checkboxPhoneBorder;
            }
        }
        &:after {
            background-color: $white;
            left: 3px;
            transform: rotate(49deg) scale(1);
            @include breakpoint(phone down) {
                background-color: $checkboxPhoneBorder;
            }
        }
    }

    input.error + label .checkbox {
        border: 1px solid $errorColor;
    }

}

.Footer {
    background-color: $footer;
    color: $white;
    padding-bottom: 40px;
    @include breakpoint(phone down) {
        padding-top: 25px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .menu-block {
        .title {
            color: $green;
            font-size: 14px;
            font-family: $ProximaBold;
            margin-bottom: 5px;
            .copyright {
                color: rgba(255,255,255,0.7);
            }
        }
        .Footer-disclaimer {
            font-family: $ProximaLight;
            color: rgba(255,255,255,0.7);
            font-size: 12px;
        }
    }
    &-menu {
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
            a {
                color: $white;
                font-size: 16px;
                font-family: $ProximaBold;
                @include breakpoint(phone down) {
                    font-size: 13px;
                }
            }
        }
        .socialImg {
            height: 40px;
            @include breakpoint(medium down) {
                height: 30px;
            }
        }
    }
    &-menu.social_links {
        display: flex;
        flex-direction: row;
    }
}


.lessRight {
    margin-right: calc(1.14286rem / 2) !important;
}

.lessLeft {
    margin-left: calc(1.14286rem / 2) !important;
    @include breakpoint(phone down) {
        margin-left: 1.42857rem !important;
    }
}

.BoxWithShadow {
    position: relative;
    @include breakpoint(phone down) {
        box-shadow: 3px 0 7px 0 rgba(0,0,0,.1), -3px 0 7px 0 rgba(0,0,0,.1);
    }
}

.BoxWithShadow.BoxForForm {
    @include breakpoint(phone down) {
        margin-top: 15px;
    }
}

.BoxWithShadow.BoxShadowAgrees {
    &:before {
        content: '';
        position: absolute;
        top: -12px;
        left: 0;
        width: 100%;
        height: 20px;
        background: $white;
    }
}

.formSendContainer {
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 30;
    background: $footer;
    opacity: 0.9;
    @include breakpoint(phone down) {
        background: rgba(255,255,255,0.9);
    }
}

.showbox, .success {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 4;
    .successForm {
        background: rgba(255,255,255,0.99);
    }
    .successInfo {
        color: $green;
        text-align: center;
    }
    .loading_info {
        font-size: 16px;
        font-family: $ProximaBold;
        // color: $disclaimerFontColor;
        margin-top: 15px;
    }
    .loader {
        width: 45px;
        height: 45px;
        background: transparent;
        border-radius: 50%;
        border: 7px solid transparent;
        border-left-color: $green;
        border-right-color: $green;
        animation: animacja 1s infinite;
    }
}

@keyframes animacja {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}