@font-face {
    font-family: 'ProximaNova Light';
    src: url('../fonts/ProximaNova-Light.otf') format('opentype');
    font-weight: 100;
    font-style: normal;
  }
@font-face {
    font-family: 'ProximaNova Regular';
    src: url('../fonts/ProximaNova-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'ProximaNova Semibold';
    src: url('../fonts/ProximaNova-Semibold.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
  }
  @font-face {
    font-family: 'ProximaNova Bold';
    src: url('../fonts/ProximaNova-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
  }
  @font-face {
    font-family: 'ProximaNova Black';
    src: url('../fonts/ProximaNova-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
  }