// Colors

$white: #ffffff;
$black: #000000;
$dark: #167AF5;
$dark: #22252A;
$green: #00FF66;
$greenHover: #0ce24d;
$orange: #FFB400;
$orangeHover: #fdc847;
$footer: #22252A;
$headerPhone: #22252A;

$formBorderColor: #C2C7CC;
$errorColor: #FA4A4E;
$disclaimerFontColor: #999999;
$disclaimerFontColorPhone: #595959;
$checkboxPhoneBorder: #22252A;

// Font Styles

$ProximaBlack: 'ProximaNova Black';

$MarkPro: 'MarkPro';
$MarkPro-Light: 'MarkPro-Light';
$MarkPro-Bold: 'MarkPro-Bold';

// Main CSS styles

body{
    overflow-x: hidden;
    font-family: $MarkPro;
}

.phone-reverse {
    @include breakpoint(phone down) {
        flex-direction: column-reverse;
    }
}

.PhoneMarginMinus {
    @include breakpoint(phone down) {
        margin-left: -10px;
        margin-right: -10px;
    }
}

.Header{
    background: $headerPhone;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: $white;
    .grid-x.grid-padding-x.align-middle.phone-reverse {
        padding-left: 20px;
        padding-right: 20px;
      }
    // min-height: 200px;
    padding: 35px 0;
    @include breakpoint(large down) {
        padding: 35px 0;
    }
    @include breakpoint(large down) {
        background: $headerPhone;
        padding: 15px 0;
    }

    &__headtext{
        font-family: $MarkPro;
        font-size: 46px;
        line-height: 1.2;
        text-transform: uppercase;
        margin: 0;
        @include breakpoint(large down) {
            font-size: 42px;
        }
        @include breakpoint(medium down) {
            font-size: 36px;
        }
        @include breakpoint(phone down) {
            font-size: 32px;
        }
        @include breakpoint(iphone down) {
            font-size: 28px;
        }
        @include breakpoint(small down) {
            font-size: 24px;
        }
    }
    &__logo{
        display: flex;
        align-items: center;
        tent: flex-end;
        a {
            display: block;
        }
        @include breakpoint(phone down) {
            margin-bottom: 15px;
        }
    }
    &__logoImg{
        height: 23px;
        @include breakpoint(phone down) {
            height: 12px;
        }
    }
}

.main-wrapper {
  background-image: url(../images/BMW_DESKTOP.jpg);
  background-size: cover;
  background-position: top left;
}

.main {
    padding-bottom: 40px;
    @include breakpoint(xmedium down) {
        padding-bottom: 0;
    }
}

.Box {
    width: 100%;
    box-shadow: 3px 0px 7px 0px rgba(0,0,0,0.1), -3px 0px 7px 0px rgba(0,0,0,0.1);
    position: relative;
    top: 15px;
    @include breakpoint(xmedium down) {
        max-width: 100%;
    }
    @include breakpoint(phone down) {
        top: 0;
        box-shadow: none;
    }
    @include breakpoint(xmedium down) {
      top: 0;
    }
}

.promoImg {
    position: relative;
    top: -25px;
}

.CarInformation {
    @include breakpoint(xmedium down) {
        margin-left: 0 !important;
    }
    .CarPhoto {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding-bottom: 52%;
        position: relative;
        @include breakpoint(medium down) {
            padding-bottom: 70%;
        }
        @include breakpoint(630px down) {
            padding-bottom: 85%;
        }
        @include breakpoint(phone down) {
            padding-bottom: 53.25%;
        }
    }
    .CarPrice {
        padding-top: 5px;
        @include breakpoint(phone down) {
            padding: 10px 0;
        }
        .carname-container {
            align-items: center;
            display: flex;
            tent: center;
        }
        .carname {
            font-family: $ProximaBlack;
            font-size: 18px;
            line-height: 1.1;
            margin: 0;
            @include breakpoint(phone down) {
                font-size: 22px;
            }
            @include breakpoint(iphone down) {
                font-size: 18px;
            }
        }
        .car-pricing {
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            tent: flex-end;
            padding-right: 40px;
            @include breakpoint(xphone down) {
                padding-right: 0;
                align-items: center;
                tent: center;
            }
            .prefix {
                font-family: $MarkPro-Light;
                margin: 0;
                padding-bottom: 6px;
                @include breakpoint(iphone down) {
                    padding-bottom: 0px;
                    margin-top: 17px;
                    font-size: 11px;
                }
            }
            .boldPrice {
                font-family: $ProximaBlack;
                margin: 0;
                font-size: 62px;
                line-height: 1;
                @include breakpoint(iphone down) {
                    font-size: 48px;
                }
                @include breakpoint(small down) {
                    font-size: 42px;
                }
            }
            .monthly {
                margin: 0;
                font-family: $MarkPro;
                line-height: 1;
                align-self: flex-start;
                padding-top: 6px;
                @include breakpoint(iphone down) {
                    padding-top: 5px;
                    font-size: 11px;
                }
            }
        }
    }
}

.BlueBox {
    background-color: $dark;
    padding: 30px 40px 20px;
    color: $white;
    @include breakpoint(xphone down) {
        padding: 30px 40px 20px;
    }
    @include breakpoint(phone down) {
        padding: 20px 2.12857rem 20px;
    }

    &__header1{
        font-size: 30px;
        line-height: 1.2;
        font-family: $MarkPro;
        color: #fff;
        h3 {
          font-size: 18px;
          margin-bottom: 0;
          margin-left: 10px;
          @include breakpoint(phone down) {
            font-size: 13px;
          }
        }
        h2 {
          font-weight: 700;
          font-family: MarkPro-Bold;
          font-size: 25px;
        }
        @include breakpoint(large down) {
            font-size: 26px;
        }
        @include breakpoint(medium down) {
            font-size: 22px;
        }
        @include breakpoint(xphone down) {
            font-size: 18px;
        }
    }
    &__header2{
        font-size: 50px;
        text-transform: uppercase;
        margin-top: 0.3em;
        line-height: 1;
        font-family: $MarkPro;
        color: #fff;
        @include breakpoint(large down) {
            font-size: 40px;
        }
        @include breakpoint(medium down) {
            font-size: 36px;
        }
        @include breakpoint(xphone down) {
            font-size: 25px;
        }
    }

    .text {
        font-family: $MarkPro-Light;
        font-size: 19px;
        margin: 0;
        margin-bottom: 10px;
        @include breakpoint(iphone down) {
            margin-bottom: 0;
            font-size: 16px;
        }
        @include breakpoint(small down) {
            font-size: 14px;
        }
    }
    .rabatText {
        font-size: 28px;
        font-family: $MarkPro-Light;
        text-transform: uppercase;
        @include breakpoint(iphone down) {
            font-size: 19px;
        }
        @include breakpoint(small down) {
            margin-bottom: 0;
            font-size: 17px;
        }
    }
    .boldedRabat {
        font-family: $ProximaBlack;
    }


    &-img {
        margin: 5px 0;
    }
    .Benefits {
        &__item {
            margin: 15px 0;
            display: flex;
            flex-direction: row;
            align-items: center;
            @include breakpoint(iphone down) {
                margin: 10px 0;
            }

        }
        &__iconContainer {
            margin-right: 12px;
        }
        &__icon {
            height: 34px;
            @include breakpoint(iphone down) {
                height: 25px;
            }
            @include breakpoint(small down) {
                height: 20px;
            }
        }
        &__description {
            font-family: $MarkPro-Light;
            font-size: 19px;
            margin: 0;
            line-height: 1;
            @include breakpoint(iphone down) {
                font-size: 16px;
            }
            @include breakpoint(small down) {
                font-size: 14px;
            }
            .bolded {
                font-family: $ProximaBlack;
                text-transform: uppercase;
            }
        }
    }
}

.white-distinction {
  font-weight: bold;
  font-family: $MarkPro-Bold;
}

.grid-x {
  @include breakpoint(large down){
    justify-content: center;
  }
}

.form-head {
  text-transform: uppercase;
}

.profit-item {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  position: relative;
  h3 {
    font-size: 20px;
    margin-bottom: 0;
    margin-left: 10px;
  }
  img {
    max-height: 30px;
  }
  &:hover, &:focus {
    &>.profit__tooltip {
      visibility: visible;
      opacity: 1;
      left: -460px;

      @include breakpoint(large down) {
        left: 0;
      }
    }
  }
}

.profit__tooltip {
  visibility: hidden;
  opacity: 0;
  transition: 222ms linear;
  background-color: #ffffff;
  position: absolute;
  width: 450px;
  left: -450px;
  padding: 20px;
  color: $dark;
  text-transform: none;
  font-size: 16px;
  z-index: 1;
  box-shadow: 0 40px 120px -20px rgba(0, 0, 0, 0.6);
  &::after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;

    @include breakpoint(large up) {
      border-width: 7.5px 0 7.5px 15px;
      right: -14px;
      top: calc(50% - 7px);
      border-color: transparent transparent transparent #ffffff;
    }

    @include breakpoint(large down) {
      border-width: 0 7.5px 15px 7.5px;
      top: -14px;
      left: 18px;
      border-color: transparent transparent #ffffff transparent;
    }
  }

  @include breakpoint(large down) {
    width: 100%;
    left: 0;
    top: 50px;
  }
}

.tooltip-head {
  font-family: $MarkPro;
  color: $dark;
  font-weight: bold;
  font-size: 20px;
}

.Form {
    // border: 1px solid red;
    background-color: #ffffff;
    padding: 30px 40px 20px;
    @include breakpoint(phone down) {
        padding: 20px 1.857rem 2px;
    }
    .headtext {
        margin: 0;
        font-family: $MarkPro;
        font-weight: 800;
        text-transform: uppercase;
        font-size: 23px;
        line-height: 1.1;
        @include breakpoint(phone down) {
            font-size: 24px;
        }
        @include breakpoint(iphone down) {
            font-size: 20px;
        }
    }
    .undertext {
        margin: 0;
        font-family: $MarkPro-Light;
        font-size: 30px;
        line-height: 1.1;
        @include breakpoint(phone down) {
            font-size: 16px;
        }
        @include breakpoint(iphone down) {
            font-size: 14px;
        }
    }
    &-wrapper {
        margin: 10px 0;
    }

    &__SendBtn {
        transform: scale(.9);
        background-color: $green;
        color: $black;
        font-family: $MarkPro;
        font-weight: bold;
        text-align: center;
        width: 100%;
        height: 60px;
        cursor: pointer;
        transition: 222ms linear;
        text-transform: uppercase;
        font-size: 18px;
        outline: none;
        &:hover, &:focus {
            background-color: $greenHover;
        }
        @include breakpoint(iphone down) {
            font-size: 14px;
            height: 43px;
        }
    }

    .Form__input-wrapper {
        position: relative;
        label.error {
            position: absolute;
            top: 13px;
            right: 10px;
            color: $errorColor;
            font-size: 10px;
            z-index: -1;
        }
        .inputValid {
            position: absolute;
            top: 0px;
            right: 5px;
            height: 45px;
            display: none;
        }
        .Form__input {
            height: 43px;
            border: 1px solid $formBorderColor;
            box-shadow: none;
            font-size: 17px;
            font-family: $MarkPro-Light;
            color: $footer;
            padding-left: 12px;
            background: transparent;
        }

        .Form__input.valid + label + .inputValid {
            display: block;
        }

        .Form__input.error {
            border: 1px solid $errorColor;
        }

        .Form__input:focus + .Form__input-label {
            top: -5px;
            left: 10px;
            font-size: 12px;
            background: $white;
            padding: 0 7px;
            line-height: 1;
            z-index: 2;
        }
        .Form__input-label.hasValue {
            top: -5px;
            left: 10px;
            font-size: 12px;
            background: $white;
            padding: 0 7px;
            line-height: 1;
            z-index: 2;
        }
        .Form__input-label {
            position: absolute;
            top: 6px;
            left: 12px;
            font-size: 17px;
            font-family: $MarkPro-Light;
            color: $footer;
            transition: 200ms linear;
            @include breakpoint(iphone down) {
                font-size: 14px;
                top: 10px;
            }
        }
    }

}

.client_nip, .client_nip_label {
  display: none;
}

.show-input, .show-label {
  display: block;
}

.hide-label + img {
  display: none !important;
}

.check-company-normalize {
  @include breakpoint(medium up) {
    height: 40px;
  }
}

.Agrees {
    &__container {
      .BoxWithShadow.BoxShadowAgrees{
        padding-top: 20px;
      }
        background-color: $footer;
        padding: 40px 0 20px;
        @include breakpoint(phone down) {
            padding: 20px 0;
        }
    }
    ::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #554;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #999;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #666;
    }
    label {
        margin: 0;
    }
    .terms {
        margin-bottom: 10px;
    }
    .terms-text {
        color: $disclaimerFontColor;
        padding-left: 25px;
        display: block;
        font-family: $MarkPro-Light;
        font-size: 10px;
        line-height: 1.2;
        @include breakpoint(phone down) {
            color: $disclaimerFontColorPhone;
        }
    }
    .rodo_text {
        height: 125px;
        margin-bottom: 20px;
        overflow: auto;
        margin-right: 15px;
        /* width */

    }
    .btnExpand {
        cursor: pointer;
        font-family: $MarkPro-Light;
        font-size: 13px;
        line-height: 1.2;
        margin-top: 10px;
        color: $disclaimerFontColor;
        overflow: hidden;
        @include breakpoint(phone down) {
            color: $disclaimerFontColorPhone;
        }
    }
    .Rodo_disclaimer {
        font-family: $MarkPro-Light;
        font-size: 10px;
        line-height: 1.2;
        color: $disclaimerFontColor;
        overflow: hidden;
        @include breakpoint(phone down) {
            color: $disclaimerFontColorPhone;
        }
    }
    input[type=checkbox] {
        display: none;
    }

    .error {
        padding-left: 12px;
        font-size: 10px;
        font-family: $MarkPro-Light;
        color: $errorColor;
        margin: 0;

    }

    input[type=checkbox] + label .checkbox {
        background-color: transparent;
        background-position: center center;
        background-size: 0px;
        border: 1px solid $white;
        border-radius: 2px;
        display: block;
        width: 15px;
        height: 15px;
        float: left;
        position: relative;
        &:before {
            width: 8px;
            height: 1px;
            background-color: #fff;
            content: '';
            position: absolute;
            top: 6px;
            left: 2px;
            transform: rotate(-45deg) scale(0);
            transform-origin: 50% 0;
            transition: 222ms;
        }
        &:after {
            width: 8px;
            height: 1px;
            background-color: #fff;
            content: '';
            position: absolute;
            top: 6px;
            left: 3px;
            transform: rotate(49deg) scale(0);
            transform-origin: 50% 0;
            transition: 222ms;
        }
        @include breakpoint(phone down) {
            border: 1px solid #ffffff;

        }
    }

    input[type=checkbox] + label .checkbox-nip {
      width: 34px;
      height: 34px;
      top: 9px;
      &:before, &:after {
          width: 25px;
          top: 16px;
        }
    }

.checkNIP-label {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.company-check .terms-text {
    font-size: 17px;
    color: #22252a;
    padding-left: 15px;
    white-space: nowrap;
}

    input[type=checkbox]:checked + label .checkbox {

        // background-color: $form_first_gcolor;
        position: relative;
        z-index: 19;
        transition: 222ms;
        &:before {
            background-color: $white;
            left: 2px;
            transform: rotate(-45deg) scale(1);
            @include breakpoint(phone down) {
                background-color: #ffffff;
            }
        }
        &:after {
            background-color: $white;
            left: 3px;
            transform: rotate(49deg) scale(1);
            @include breakpoint(phone down) {
                background-color: #ffffff;
            }
        }
    }

    input.error + label .checkbox {
        border: 1px solid $errorColor;
    }

}
.check-all-wrapper {
  padding-top: 10px;
  .terms-text {
    line-height: 1.8;
  }
}
.company-terms-text {
  padding-top: 20px;
}
.agreeAndButton {
    position: relative;
    z-index: 1;
    .Agrees input[type=checkbox]+label .checkbox {
        border: 1px solid #c2c7cc;
    }
    .Agrees input[type=checkbox]:checked+label .checkbox {
        &:before {
            background-color: #828487;
            left: 3px;
        }
        &:after {
            background-color: #828487;
            left: 3px;
        }
    }

    @include breakpoint(phone down) {
        display: flex;
        flex-direction: column-reverse;
        .Agrees {
            .terms {
                margin-bottom: 0;
                margin-top: 15px;
            }
            .terms-text {
                color: #595959;
            }
        }
        .Agrees input[type=checkbox]:checked+label .checkbox {
            &:before {
                background-color: #22252a;
            }
            &:after {
                background-color: #22252a;
            }
        }
    }
}

.checkbox.checkbox-nip {
  &::before {
    left: 5px !important;
  }
  &::after {
    left: 5px !important;
  }
}

.terms-align {
  display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    align-items: center;
}

.Footer {
    background-color: $footer;
    color: $white;
    padding-bottom: 40px;
    @include breakpoint(phone down) {
        padding-top: 25px;
    }
    .menu-block {
        .title {
            color: $green;
            font-size: 14px;
            font-family: $MarkPro;
            margin-bottom: 5px;
            .copyright {
                color: rgba(255,255,255,0.7);
            }
        }
        .Footer-disclaimer {
            font-family: $MarkPro-Light;
            color: rgba(255,255,255,0.7);
            font-size: 12px;
        }
    }
    &-menu {
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
            a {
                color: $white;
                font-size: 16px;
                font-family: $MarkPro;
                @include breakpoint(phone down) {
                    font-size: 13px;
                }
            }
        }
        .socialImg {
            height: 40px;
            @include breakpoint(medium down) {
                height: 30px;
            }
        }
    }
    &-menu.social_links {
        display: flex;
        flex-direction: row;
    }
}

.cell.large-5.padding-less {
  transform: scale(.9);
  @include breakpoint(xmedium down){
    padding: 0;
    transform: scale(1);
  }

}
@include breakpoint(1200px down) {
  .cell.large-5.padding-less {
    width: 100%;
    transform: scale(1);
    padding: 0;
  }
  .cell.large-7.carSlideImage{
        background-image: url('../images/BMW_Mobile.jpg');
        background-size: cover;
      padding-bottom: 40%;
      background-position: center left;
      width: 100%;
      }
      .Box {
        top: 0;
      }
      .main {
        padding-bottom: 0;
      }
}
.lessRight {
    margin-right: calc(1.14286rem / 2) !important;
}

.lessLeft {
    margin-left: calc(1.14286rem / 2) !important;
    @include breakpoint(phone down) {
        margin-left: 1.42857rem !important;
    }
}

.BoxWithShadow {
    position: relative;
    @include breakpoint(phone down) {
        box-shadow: 3px 0 7px 0 rgba(0,0,0,.1), -3px 0 7px 0 rgba(0,0,0,.1);
    }
}



.formSendContainer {
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 30;
    background: $footer;
    opacity: 0.9;
    @include breakpoint(phone down) {
        background: rgba(255,255,255,0.9);
    }
}

.showbox, .success {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.9);
    display: flex;
    align-items: center;
    tent: center;
    flex-direction: column;
    z-index: 4;
    .successForm {
        background: rgba(255,255,255,0.99);
    }
    .successInfo {
        color: $green;
        text-align: center;
    }
    .loading_info {
        font-size: 16px;
        font-family: $MarkPro;
        // color: $disclaimerFontColor;
        margin-top: 15px;
    }
    .loader {
        width: 45px;
        height: 45px;
        background: transparent;
        border-radius: 50%;
        border: 7px solid transparent;
        border-left-color: $green;
        border-right-color: $green;
        animation: animacja 1s infinite;
    }
}

@keyframes animacja {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

.cell.large-7.carSlideImage {
  padding-left: 50px;
  padding-top: 50px;
  @include breakpoint(large down) {
    padding-left: 40px;
    padding-top: 30px;
    padding-bottom: 60%;
  }
  @include breakpoint(iphone down) {
    padding-left: 40px;
    padding-top: 30px;
    padding-bottom: 200px;
  }
}

.carSlideImage {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
    position: relative;
    color: $dark;
    @include breakpoint(xmedium down){
      background-image: url('../images/opel-mobile.jpg');
      background-size: cover;
    padding-bottom: 40%;
    background-position: bottom left;
    }
    h1 {
      line-height: 1.1;
      font-size: 45px;
      @include breakpoint(xphone down) {
        font-size: 40px;
      }
      @include breakpoint(iphone down) {
        font-size: 24px;
      }
    }
    .leftImage {
        width: 17%;
    }
    .centerImage {
        width: 66%;
    }
    .rightImage {
        width: 17%;
    }
    h1 {
      font-family: $MarkPro-Light;
      font-size: 40px;
      text-transform: uppercase;
      font-weight: 300;
      @include breakpoint(medium down) {
        font-size: 31px;
      }
      @include breakpoint(xphone down) {
        font-size: 20px;
      }
    }
}

.cell.large-7 .header-main-text {
  font-size: 29px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: $MarkPro;
  @include breakpoint(xphone down) {
    font-size: 19px;
  }
  @include breakpoint(iphone down) {
    font-size: 16px;
  }
}



.header-distinction {
  color: #0027ff;
}

.iconMobile {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    img {
        height: 40px;
    }
    &-left {
        left: 10px;
    }
    &-right {
        right: 10px;
    }
}

.llooooool {
  border: 1px solid;
}
