// Colors

$white: #ffffff;
$black: #000000;
$dark: #22252A;
$green: #00FF66;
$greenHover: #0ce24d;
$orange: #FFB400;
$orangeHover: #fdc847;
$footer: #22252A;
$headerPhone: #22252A;

$formBorderColor: #C2C7CC;
$errorColor: #FA4A4E;
$disclaimerFontColor: #999999;
$disclaimerFontColorPhone: #595959;
$checkboxPhoneBorder: #22252A;

// Font Styles

$ProximaBlack: 'ProximaNova Black';
$MarkPro: 'MarkPro';
$MarkPro-Light: 'MarkPro-Light';
$MarkPro-Bold: 'MarkPro-Bold';

// Main CSS styles

body{
    overflow-x: hidden;
    font-family: $MarkPro;
    background-color: $footer;
}

.phone-reverse {
    @include breakpoint(phone down) {
        flex-direction: column-reverse;
    }
}

.PhoneMarginMinus {
    @include breakpoint(phone down) {
        margin-left: -10px;
        margin-right: -10px;
    }
}

.Header{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: $white;
    top: 0;
    width: 100vw;
    z-index: 9;
    position: absolute;

.grid-x.grid-padding-x.align-middle.phone-reverse {
    padding-left: 20px;
    padding-right: 20px;
    justify-content: flex-start;
    align-items: flex-start;
  }

    min-height: 50px;
    padding: 30px 30px;
    @include breakpoint(large down) {
        padding: 35px 0;
    }
    @include breakpoint(large down) {
        padding: 15px 0;
    }

    &__headtext{
        font-family: $MarkPro;
        font-size: 46px;
        line-height: 1.2;
        text-transform: uppercase;
        margin: 0;
        @include breakpoint(large down) {
            font-size: 42px;
        }
        @include breakpoint(medium down) {
            font-size: 36px;
        }
        @include breakpoint(phone down) {
            font-size: 32px;
        }
        @include breakpoint(iphone down) {
            font-size: 28px;
        }
        @include breakpoint(small down) {
            font-size: 24px;
        }
    }
    &__logo{
        display: flex;
        align-items: center;
        justify-content: flex-end;

        a {
            display: block;
        }
        @include breakpoint(phone down) {
            margin-bottom: 15px;
        }
    }
    &__logoImg{
      margin-top: 15px;
        height: 23px;
        @include breakpoint(phone down) {
            height: 12px;
        }
    }
}

.main-wrapper {
-webkit-background-size: cover;
// background-size: 75%;
// background-position: -136px 45%;
background-size: 64%;
background-position: 10px 75%;
position: relative;
overflow: hidden;
@include breakpoint(1580px down) {
  // background-size: 85%;
  // background-position: -225px 45%;
  background-size: 70%;
  background-position: 0px 75%;
}
@include breakpoint(1380px down) {
  // background-size: 94%;
  // background-position: -270px 40%;
  background-size: 72%;
      background-position: 0px 75%;
}
@include breakpoint(1300px down) {
  background-size: 78%;
background-position: -45px 72%;
}
@include breakpoint(speciallarge up) {
  background-image: url(../images/opel-astra.jpg);
  &::before {
    content: '';
    position: absolute;
    left: -10px;
    top: -1px;
    height: calc(100% + 2px);
    width: 10%;
    background-image: url(../images/shape.png);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
  }
}
  // .row {
  //   margin-right: 0;
  // }
}

.main {
    @include breakpoint(xmedium down) {
        padding-bottom: 0;
    }
}

.img-bg {
  position: absolute;
height: 100%;
z-index: 2;
left: -15%;
}

.Box {
    width: 100%;
    position: relative;
    z-index: 9;
    position: relative;
    @include breakpoint(xmedium down) {
        max-width: 100%;
    }
    @include breakpoint(phone down) {
        top: 0;
        box-shadow: none;
    }
    @include breakpoint(xmedium down) {
      top: 0;
    }
    @include breakpoint(large down) {
      &::after {
        content: '';
        bottom: -3px;
        border: 4em solid;
        border-right: none;
        border-left-width: calc(100vw + 60px);
        border-top: none;
        position: absolute;
        border-right: none;
        z-index: 10;
        border-color: #16191c transparent;
        left: -50px;
      }
    }
    @include breakpoint(iphone down) {
        &::after {
          display: none;
        }
    }
}

.promoImg {
    position: relative;
    top: -25px;
}

.CarInformation {
    @include breakpoint(xmedium down) {
        margin-left: 0 !important;
    }
    .CarPhoto {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding-bottom: 52%;
        position: relative;
        @include breakpoint(medium down) {
            padding-bottom: 70%;
        }
        @include breakpoint(630px down) {
            padding-bottom: 85%;
        }
        @include breakpoint(phone down) {
            padding-bottom: 53.25%;
        }
    }
    .CarPrice {
        padding-top: 5px;
        @include breakpoint(phone down) {
            padding: 10px 0;
        }
        .carname-container {
            align-items: center;
            display: flex;
            justify-content: center;
        }
        .carname {
            font-family: $ProximaBlack;
            font-size: 18px;
            line-height: 1.1;
            margin: 0;
            @include breakpoint(phone down) {
                font-size: 22px;
            }
            @include breakpoint(iphone down) {
                font-size: 18px;
            }
        }
        .car-pricing {
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            justify-content: flex-end;
            padding-right: 40px;
            @include breakpoint(xphone down) {
                padding-right: 0;
                align-items: center;
                justify-content: center;
            }
            .prefix {
                font-family: $MarkPro-Light;
                margin: 0;
                padding-bottom: 6px;
                @include breakpoint(iphone down) {
                    padding-bottom: 0px;
                    margin-top: 17px;
                    font-size: 11px;
                }
            }
            .boldPrice {
                font-family: $ProximaBlack;
                margin: 0;
                font-size: 62px;
                line-height: 1;
                @include breakpoint(iphone down) {
                    font-size: 48px;
                }
                @include breakpoint(small down) {
                    font-size: 42px;
                }
            }
            .monthly {
                margin: 0;
                font-family: $MarkPro;
                line-height: 1;
                align-self: flex-start;
                padding-top: 6px;
                @include breakpoint(iphone down) {
                    padding-top: 5px;
                    font-size: 11px;
                }
            }
        }
    }
}

.BlueBox {
    padding: 30px 40px 20px;
    color: $black;
    padding-bottom: 2rem;
    @include breakpoint(large down) {
      background: -moz-linear-gradient(225deg, rgba(22,25,28,1) 0%, rgba(34,48,54,1) 100%); /* ff3.6+ */
background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(34,48,54,1)), color-stop(100%, rgba(22,25,28,1))); /* safari4+,chrome */
background: -webkit-linear-gradient(225deg, rgba(22,25,28,1) 0%, rgba(34,48,54,1) 100%); /* safari5.1+,chrome10+ */
background: -o-linear-gradient(225deg, rgba(22,25,28,1) 0%, rgba(34,48,54,1) 100%); /* opera 11.10+ */
background: -ms-linear-gradient(225deg, rgba(22,25,28,1) 0%, rgba(34,48,54,1) 100%); /* ie10+ */
background: linear-gradient(225deg, rgba(22,25,28,1) 0%, rgba(34,48,54,1) 100%); /* w3c */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#16191C', endColorstr='#223036',GradientType=1 ); /* ie6-9 */
    }
    @include breakpoint(xphone down) {
        padding: 30px 40px 40px;
    }
    @include breakpoint(phone down) {
        padding: 20px 2.12857rem 40px;
    }

    &__header1{
        font-size: 30px;
        line-height: 1.2;
        color: $black;
        h2 {
          font-weight: 700;
          font-family: MarkPro-Bold;
          font-size: 19px;
          @include breakpoint(1306 up){
            font-size: 21px;
          }
        }
        h3 {
          font-size: 18px;
          margin-bottom: 0;
          margin-left: 10px;
          @include breakpoint(phone down) {
            font-size: 13px;
          }
        }
        @include breakpoint(large down) {
            font-size: 26px;
        }
        @include breakpoint(medium down) {
            font-size: 22px;
        }
        @include breakpoint(xphone down) {
            font-size: 18px;
        }
    }
    &__header2{
        font-size: 50px;
        text-transform: uppercase;
        margin-top: 0.3em;
        line-height: 1;
        font-family: $MarkPro;
        color: #fff;
        @include breakpoint(large down) {
            font-size: 40px;
        }
        @include breakpoint(medium down) {
            font-size: 36px;
        }
        @include breakpoint(xphone down) {
            font-size: 25px;
        }
    }

    .text {
        font-family: $MarkPro-Light;
        font-size: 19px;
        margin: 0;
        margin-bottom: 10px;
        @include breakpoint(iphone down) {
            margin-bottom: 0;
            font-size: 16px;
        }
        @include breakpoint(small down) {
            font-size: 14px;
        }
    }
    .rabatText {
        font-size: 28px;
        font-family: $MarkPro-Light;
        text-transform: uppercase;
        @include breakpoint(iphone down) {
            font-size: 19px;
        }
        @include breakpoint(small down) {
            margin-bottom: 0;
            font-size: 17px;
        }
    }
    .boldedRabat {
        font-family: $ProximaBlack;
    }


    &-img {
        margin: 5px 0;
    }
    .Benefits {
        &__item {
            margin: 15px 0;
            display: flex;
            flex-direction: row;
            align-items: center;
            @include breakpoint(iphone down) {
                margin: 10px 0;
            }

        }
        &__iconContainer {
            margin-right: 12px;
        }
        &__icon {
            height: 34px;
            @include breakpoint(iphone down) {
                height: 25px;
            }
            @include breakpoint(small down) {
                height: 20px;
            }
        }
        &__description {
            font-family: $MarkPro-Light;
            font-size: 19px;
            margin: 0;
            line-height: 1;
            @include breakpoint(iphone down) {
                font-size: 16px;
            }
            @include breakpoint(small down) {
                font-size: 14px;
            }
            .bolded {
                font-family: $ProximaBlack;
                text-transform: uppercase;
            }
        }
    }
}

.white-distinction {
  font-weight: bold;
  font-family: $MarkPro-Bold;
}

.dark-distinction {
  font-weight: bold;
  font-family: $MarkPro-Bold;
}

.grid-x {
  @include breakpoint(large down){
    justify-content: center;
  }
}

.BoxForForm {
  color: #ffffff;
}

.form-head {
  text-transform: uppercase;
}



.profit-item {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  position: relative;
  h3 {
    font-size: 14px;
    margin-bottom: 0;
    margin-left: 10px;
  }
  img {
    max-height: 25px;
  }
  &:hover, &:focus {
    &>.profit__tooltip {
      visibility: visible;
      opacity: 1;
      left: -460px;
      @include breakpoint(large down) {
        left: 0;
      }
    }
  }
}

.profit__tooltip {
  visibility: hidden;
  opacity: 0;
  transition: 222ms linear;
  background-color: #ffffff;
  position: absolute;
  width: 450px;
  left: -450px;
  padding: 20px;
  color: $dark;
  text-transform: none;
  font-size: 14px;
  z-index: 17;
  box-shadow: 0 40px 120px -20px rgba(0, 0, 0, 0.6);
  &::after {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;

    @include breakpoint(large up) {
      border-width: 7.5px 0 7.5px 15px;
      right: -14px;
      top: calc(50% - 7px);
      border-color: transparent transparent transparent #ffffff;
    }

    @include breakpoint(large down) {
      border-width: 0 7.5px 15px 7.5px;
      top: -14px;
      left: 18px;
      border-color: transparent transparent #ffffff transparent;
    }
  }

  @include breakpoint(large down) {
    width: 100%;
    left: 0;
    top: 50px;
  }
}

.tooltip-head {
  font-family: $MarkPro;
  color: $dark;
  font-weight: bold;
  font-size: 18px;
}

.bg-image {
  position: absolute;
top: -45px;
left: -70px;
z-index: -1;
max-width: none;
width: 189%;
  @include breakpoint(medium down) {
  right: -130px;
  }
  @include breakpoint(large down) {
    display: none;
  }
}

.Form {
    // border: 1px solid red;
    padding: 23px 35px 15px;
    position: relative;
@include breakpoint(large down) {
  background-color: #16191c;
}
    @include breakpoint(phone down) {
        padding: 20px 1.857rem 2px;
    }
    .headtext {
        margin: 0;
        font-family: $MarkPro;
        font-weight: 800;
        text-transform: uppercase;
        font-size: 22px;
        line-height: 1.1;
        @include breakpoint(phone down) {
            font-size: 24px;
        }
        @include breakpoint(iphone down) {
            font-size: 20px;
        }
    }
    .undertext {
        margin: 0;
        font-family: $MarkPro-Light;
        font-size: 21px;
        line-height: 1.1;
        @include breakpoint(phone down) {
            font-size: 16px;
        }
        @include breakpoint(iphone down) {
            font-size: 14px;
        }
    }
    &-wrapper {
        margin: 10px 0;
    }

    &__SendBtn {
        background-color: $green;
        color: $black;
        font-family: $MarkPro;
        font-weight: bold;
        text-align: center;
        width: 100%;
        height: 60px;
        cursor: pointer;
        transition: 222ms linear;
        text-transform: uppercase;
        font-size: 18px;
        outline: none;
        margin-top: 20px;
        &:hover, &:focus {
            background-color: $greenHover;
        }
        @include breakpoint(large up) {
          transform: scale(.85);
        }
        @include breakpoint(iphone down) {
            font-size: 14px;
            height: 43px;
        }
    }



    .Form__input-wrapper {
        position: relative;
        label.error {
            position: absolute;
            bottom: 0;
            right: 10px;
            color: $errorColor;
            font-size: 10px;
        }
        .inputValid {
            position: absolute;
            top: 0px;
            right: 5px;
            height: 35px;
            display: none;
        }
        .Form__input {
            height: 38px;
            border: 1px solid $formBorderColor;
            box-shadow: none;
            font-size: 17px;
            font-family: $MarkPro-Light;
            color: $white;
            padding-left: 12px;
            background: transparent;
        }

        .Form__input.valid + label + .inputValid {
            display: block;
        }

        .Form__input.error {
            border: 1px solid $errorColor;
        }

        .Form__input:focus + .Form__input-label {
            top: -5px;
            left: 10px;
            font-size: 12px;
            background: #16191c;
            padding: 0 7px;
            line-height: 1;
            z-index: 2;
            @include breakpoint(speciallarge up) {
              background: #192428;
            }
        }
        .Form__input-label.hasValue {
            top: -5px;
            left: 10px;
            font-size: 12px;
            padding: 0 7px;
            line-height: 1;
            background-color: #1c282b;
            z-index: 2;
        }
        .Form__input-label {
            position: absolute;
            top: 5px;
            left: 12px;
            font-size: 17px;
            font-family: $MarkPro-Light;
            color: #ffffff;
            transition: 200ms linear;
            @include breakpoint(speciallarge up) {
                z-index: -1;
                }

            @include breakpoint(iphone down) {
                font-size: 14px;
                top: 5px;
            }
        }
    }

}

.client_nip, .client_nip_label {
  display: none;
}

.show-input, .show-label {
  display: block;
}

.hide-label + img {
  display: none !important;
}

.Agrees {
    &__container {
      .BoxWithShadow.BoxShadowAgrees{
        padding-top: 20px;
      }
        background-color: $footer;
        padding: 40px 0 20px;
        @include breakpoint(phone down) {
            padding: 20px 0;
        }
    }
    ::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #554;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #999;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #666;
    }
    label {
        margin: 0;
    }
    .terms {
        margin-bottom: 10px;
    }
    .terms-text {
        color: $disclaimerFontColor;
        padding-left: 25px;
        display: block;
        font-family: $MarkPro-Light;
        font-size: 10px;
        line-height: 1.2;
        @include breakpoint(phone down) {
            color: $disclaimerFontColorPhone;
        }
    }
    .rodo_text {
        height: 125px;
        margin-bottom: 20px;
        overflow: auto;
        margin-right: 15px;
        /* width */

    }
    .btnExpand {
        cursor: pointer;
        font-family: $MarkPro-Light;
        font-size: 13px;
        line-height: 1.2;
        margin-top: 10px;
        color: $disclaimerFontColor;
        overflow: hidden;
        @include breakpoint(phone down) {
            color: $disclaimerFontColorPhone;
        }
    }
    .Rodo_disclaimer {
        font-family: $MarkPro-Light;
        font-size: 10px;
        line-height: 1.2;
        color: $disclaimerFontColor;
        overflow: hidden;
        @include breakpoint(phone down) {
            color: $disclaimerFontColorPhone;
        }
    }
    input[type=checkbox] {
        display: none;
    }

    .error {
        padding-left: 12px;
        font-size: 10px;
        font-family: $MarkPro-Light;
        color: $errorColor;
        margin: 0;

    }

    input[type=checkbox] + label .checkbox {
        background-color: transparent;
        background-position: center center;
        background-size: 0px;
        border: 1px solid $white;
        border-radius: 2px;
        display: block;
        width: 15px;
        height: 15px;
        float: left;
        position: relative;
        &:before {
            width: 8px;
            height: 1px;
            background-color: #fff;
            content: '';
            position: absolute;
            top: 6px;
            left: 2px;
            transform: rotate(-45deg) scale(0);
            transform-origin: 50% 0;
            transition: 222ms;
        }
        &:after {
            width: 8px;
            height: 1px;
            background-color: #fff;
            content: '';
            position: absolute;
            top: 6px;
            left: 3px;
            transform: rotate(49deg) scale(0);
            transform-origin: 50% 0;
            transition: 222ms;
        }
        @include breakpoint(phone down) {
            border: 1px solid #ffffff;

        }
    }

    input[type=checkbox] + label .checkbox-large {
      width: 30px;
      height: 30px;
      top: 6px;
      &:before, &:after {
        width: 19px;
        top: 14px;
        }
    }
.checkNIP-label {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.company-check .terms-text {
    font-size: 15px;
    color: $white;
    white-space: nowrap;
}

    input[type=checkbox]:checked + label .checkbox {

        // background-color: $form_first_gcolor;
        position: relative;
        z-index: 19;
        transition: 222ms;
        &:before {
            background-color: $white;
            left: 3px;
            transform: rotate(-45deg) scale(1);
            @include breakpoint(phone down) {
                background-color: #ffffff;
            }
        }
        &:after {
            background-color: $white;
            left: 3px;
            transform: rotate(49deg) scale(1);
            @include breakpoint(phone down) {
                background-color: #ffffff;
            }
        }
    }

    input.error + label .checkbox {
        border: 1px solid $errorColor;
    }

}

.check-company-normalize {
  @include breakpoint(medium up) {
    height: 40px;
  }
}
.nip-padd {
  padding-left: 10px;
}

.check-all-wrapper {
  padding-top: 10px;

  .terms-text {
    line-height: 1.8;
    padding-top: 7px;
    padding-left: 40px;
b {
  font-weight: 300;
    }
  }
}

.terms-text.company-terms-text.nip-padd {
      padding-left: 10px;
}

.company-terms-text {
  padding-top: 13px;
}
.agreeAndButton {
    position: relative;
    z-index: 1;
    .Agrees input[type=checkbox]+label .checkbox {
        border: 1px solid #c2c7cc;
    }

    .Agrees input[type=checkbox]:checked+label .checkbox {
        &:before {
            background-color: #828487;
            left: 2px;
        }
        &:after {
            background-color: #828487;
            left: 3px;
        }
    }

    @include breakpoint(phone down) {
        display: flex;
        flex-direction: column;
        .Agrees {
            .terms {
                margin-bottom: 0;
            }
            .terms-text {
                color: #595959;
            }
        }
        .Agrees input[type=checkbox]:checked+label .checkbox {
            &:before {
                background-color: $white;
            }
            &:after {
                background-color: $white;
            }
        }
    }
}

.checkbox.checkbox-large {
  &::before {
    left: 5px !important;
  }
  &::after {
    left: 5px !important;
  }
}

.terms-align {
  display: -webkit-flex;
    display: -ms-flex;
    display: flex;
}

.Footer {
    background-color: $footer;
    color: $white;
    padding-bottom: 40px;
    @include breakpoint(phone down) {
        padding-top: 25px;
    }
    .menu-block {
        .title {
            color: $green;
            font-size: 14px;
            font-family: $MarkPro;
            margin-bottom: 5px;
            .copyright {
                color: rgba(255,255,255,0.7);
            }
        }
        .Footer-disclaimer {
            font-family: $MarkPro-Light;
            color: rgba(255,255,255,0.7);
            font-size: 12px;
        }
    }
    &-menu {
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
            a {
                color: $white;
                font-size: 16px;
                font-family: $MarkPro;
                @include breakpoint(phone down) {
                    font-size: 13px;
                }
            }
        }
        .socialImg {
            height: 40px;
            @include breakpoint(medium down) {
                height: 30px;
            }
        }
    }
    &-menu.social_links {
        display: flex;
        flex-direction: row;
    }
}

.padding-less {
  padding: 0;
  z-index: 9;
  @include breakpoint(xmedium down){
    padding: 0;
    transform: scale(1);
  }

}
@include breakpoint(xlarge down) {
.padding-less {
    width: 100%;
    transform: scale(1);
    padding: 0;
  }
//   .cell.large-7.carSlideImage{
//         background-image: url('../images/opel-astra.jpg');
//         background-size: cover;
//       padding-bottom: 40%;
//       background-position: center;
//       width: 100%;
// }

.relative {
  position: relative;
}



      .Box {
        top: 0;
      }
      .main {
        padding-bottom: 0;
      }
}
.lessRight {
    margin-right: calc(1.14286rem / 2) !important;
}



.carSlideImage {
  @include breakpoint(640 down)
  {
    background-position: -222px 64px;
  }
}

.lessLeft {
    margin-left: calc(1.14286rem / 2) !important;
    @include breakpoint(phone down) {
        margin-left: 1.42857rem !important;
    }
}

.BoxWithShadow {
    position: relative;
    @include breakpoint(phone down) {
        box-shadow: 3px 0 7px 0 rgba(0,0,0,.1), -3px 0 7px 0 rgba(0,0,0,.1);
    }
}


.mobile-text-header {
  position: relative;
  z-index: 1;
}



.formSendContainer {
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 30;
    background: $footer;
    opacity: 0.9;
    @include breakpoint(phone down) {
        background: rgba(255,255,255,0.9);
    }
}

.showbox, .success {
    // position: absolute;
    // top: 10%;
    // left: 10%;
    // width: 80%;
    // height: 80%;
    padding: 50px;
    background: transparent;
    display: flex;
    flex-direction: column;
    z-index: 4;
    align-items: flex-start;
    justify-content: center;
    .successForm {
        background: rgba(255,255,255,0.99);
    }

    .loading_info {
        font-size: 16px;
        font-family: $MarkPro;
        // color: $disclaimerFontColor;
        margin-top: 15px;
    }
    .loader {
        width: 45px;
        height: 45px;
        background: transparent;
        border-radius: 50%;
        border: 7px solid transparent;
        border-left-color: $green;
        border-right-color: $green;
        animation: animacja 1s infinite;
    }
}

@keyframes animacja {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}

.carSlideImage {
  padding-left: 70px;
  padding-top: 90px;
  @include breakpoint(large down) {
    /*padding-left: 40px;
    padding-top: 30px;
    padding-bottom: 60%;*/
    padding: 0 0 60% 0;

  }
  @include breakpoint(iphone down) {
    padding-bottom: 200px;
  }
}

.carSlideImage {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
    position: relative;
    color: #ffffff;
    z-index: 1;
    // background-image: url(../images/opel-astra.jpg);
    background-size: cover;
    background-position: center;
    @include breakpoint(large down) {
      color: $dark;
    }
    @include breakpoint(xmedium down){
      // background-image: url('../images/opel-astra.jpg');
      background-size: cover;
    padding-bottom: 40%;
    background-position: bottom left;
    }
    h1 {
      line-height: 1.1;
      font-size: 45px;
      @include breakpoint(xphone down) {
        font-size: 40px;
      }
      @include breakpoint(iphone down) {
        font-size: 24px;
      }
    }
    .leftImage {
        width: 17%;
    }
    .centerImage {
        width: 66%;
    }
    .rightImage {
        width: 17%;
    }
    h1 {
      font-family: $MarkPro-Light;
      font-size: 40px;
      font-weight: 300;


      @include breakpoint(xphone down) {
        font-size: 40px;
      }
      @include breakpoint(phone down) {
        font-size: 26px;
      }
      @include breakpoint(iphone down) {
        font-size: 20px;
      }
    }
}

.mobile-text-header {
  font-family: $MarkPro-Light;
  h1 {
    line-height: 1.1;
    font-size: 45px;
    @include breakpoint(phone down) {
      font-size: 28px;
    }
  }
  @include breakpoint(xphone down) {
    font-size: 27px;
  }
  @include breakpoint(iphone down) {
    font-size: 20px;
    margin-bottom: 5px;
  }
}

.header-distinction {
  color: #0027ff;
}

.header-main-text {
  font-size: 34px !important;
}

.iconMobile {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    img {
        height: 40px;
    }
    &-left {
        left: 10px;
    }
    &-right {
        right: 10px;
    }
}

.mobile-text-header {
  position: relative;
  color: $white;
  width: 100%;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
  position: relative;
  z-index: 11;
@include breakpoint(large down) {
  background-image: url(../images/top-shape.svg);
  background-position: bottom;
  padding-bottom: 12%;
  padding-top: 70px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 0;
  margin-right: 0;
}
@include breakpoint(xxlarge up){
  margin-left: 0;
}
}


.cell.large-12.speciallarge-8.carSlideImage {
  @include breakpoint(large down) {
    padding: 0;
  }
}

.cell.large-12.speciallarge-4.padding-less.speciallarge.relative {
  @include breakpoint(speciallarge down) {
    padding: 0;
  }
}

.mobile-head-img {
  position: relative;
  top: -65px;
  margin-bottom: -66px;
  @include breakpoint(speciallarge up) {
    display: none;
  }
  @include breakpoint(large down) {
    top: -150px;
    margin-bottom: -151px;
  }
  @include breakpoint(xphone down) {
    top: -80px;
    margin-bottom: -81px;
  }
  @include breakpoint(iphone down) {
    top: -40px;
    margin-bottom: -41px;
  }
}

.form-hide {
  visibility: hidden;
}

.successInfo {
    h2, h3 {
      color: $dark;
      text-align: left;
    }
    h2 {
      text-transform: uppercase;
    }
}
.ty-header {
  color: $dark;
  text-align: left;
  font-weight: 700;
    font-family: $MarkPro-Bold;
    font-size: 19px;
}
h2.ty-header {
  text-transform: uppercase;
  font-size: 27px;
}

.box-success {
  @include breakpoint(large down) {
    background-color: #00ff54;
  }
}

.success-shape {
  &::after {
    border-color: #00ff54 transparent;
  }
}

.non-agress-padding {
  padding-top: 40px;
}

.Form__input-wrapper .Form__input.error + label {
    top: -5px;
    left: 10px;
    font-size: 12px;
    background: #16191c;
    padding: 0 7px;
    line-height: 1;
    z-index: 2;
    position: absolute;
    @include breakpoint(speciallarge up) {
      background: #192428;
    }
  }

.agrees-hide {
  display: none;
}
.back-to-home {
  position: relative;
    color: #000;
    padding: 10px;
    padding-right: 80px;
    border: 1px solid #000;
    background-image: url(../images/arrow.svg);
    -webkit-background-size: contain;
    background-size: 5%;
    background-position: 91% 50%;
    top: 5px;
    right: 5px;
    background-repeat: no-repeat;
&:hover {
  color: $black;
}
}
